<a href="https://colab.research.google.com/github/panditsatish190/18cse190_DMDW-Assingment2/blob/main/18cse190_dmdw_pandalab2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# import pandas as pd
import pandas as pd
 
# list of strings
lst = ['mango', 'orange', 'banana', 'guva' ]
            
 
# Calling DataFrame constructor on list
df = pd.DataFrame(lst)
print(df)

        0
0   mango
1  orange
2  banana
3    guva

In [10]:
import pandas as pd
 
# intialise data of lists.
data = {'Name':['satish', 'shraban', 'Rohit', 'krishna'],
        'Age':[20, 19, 20, 18]}
 
# Create DataFrame
df = pd.DataFrame(data)
 
# Print the output.
print(df)

      Name  Age
0   satish   20
1  shraban   19
2    Rohit   20
3  krishna   18

In [11]:
import pandas as pd
 
# Define a dictionary containing employee data
data = {'Name':['rahul', 'shraban', 'Rohit', 'statis'],
        'Age':[20, 19, 18, 21],
        'Address':['Kalaiya', 'sarlahi', 'malangwa', 'bara'],
        'Qualification':['Btech', 'Bsc', 'csIT', 'MBBS']}
df = pd.DataFrame(data)
print(df[['Name', 'Qualification']])

      Name Qualification
0    rahul         Btech
1  shraban           Bsc
2    Rohit          csIT
3   statis          MBBS

In [4]:
# importing pandas as pd
import pandas as pd
 
# importing numpy as np
import numpy as np
 
# dictionary of lists
dict = {'First Score':[100, 90, np.nan, 95],
        'Second Score': [30, 45, 56, np.nan],
        'Third Score':[np.nan, 40, 80, 98]}
 
# creating a dataframe from list
df = pd.DataFrame(dict)
 
# using isnull() function  
df.isnull()

   First Score  Second Score  Third Score
0        False         False         True
1        False         False        False
2         True         False        False
3        False          True        False

In [5]:
# importing pandas as pd
import pandas as pd
 
# importing numpy as np
import numpy as np
 
# dictionary of lists
dict = {'First Score':[100, 90, np.nan, 95],
        'Second Score': [30, 45, 56, np.nan],
        'Third Score':[np.nan, 40, 80, 98]}
 
# creating a dataframe from dictionary
df = pd.DataFrame(dict)
 
# filling missing value using fillna()  
df.fillna(0)

   First Score  Second Score  Third Score
0        100.0          30.0          0.0
1         90.0          45.0         40.0
2          0.0          56.0         80.0
3         95.0           0.0         98.0

In [12]:
# importing pandas as pd
import pandas as pd
  
# dictionary of lists
dict = {'name':["satish", "shraban", "manoj", "shambhu"],
        'degree': ["BTECH", "CSIT", "M.Tech", "MBA"],
        'score':[90, 40, 80, 98]}
 
# creating a dataframe from a dictionary 
df = pd.DataFrame(dict)
 
print(df)

      name  degree  score
0   satish   BTECH     90
1  shraban    CSIT     40
2    manoj  M.Tech     80
3  shambhu     MBA     98

In [14]:
# importing pandas as pd
import pandas as pd
  
# dictionary of lists
dict = {'name':["satish", "shraban", "manoj", "shambhu"],
        'degree': ["BTECH", "CSIT", "M.Tech", "MBA"],
        'score':[95, 48, 88, 98]}
 
# creating a dataframe from a dictionary 
df = pd.DataFrame(dict)
 
# iterating over rows using iterrows() function 
for i, j in df.iterrows():
    print(i, j)
    print()

0 name      satish
degree     BTECH
score         95
Name: 0, dtype: object

1 name      shraban
degree       CSIT
score          48
Name: 1, dtype: object

2 name       manoj
degree    M.Tech
score         88
Name: 2, dtype: object

3 name      shambhu
degree        MBA
score          98
Name: 3, dtype: object

In [13]:
# importing pandas as pd
import pandas as pd
   
# dictionary of lists
dict = {'name':["satish", "shraban", "manoj", "shambhu"],
        'degree': ["BTECH", "CSIT", "M.Tech", "MBA"],
        'score':[95, 48, 88, 98]}
  
# creating a dataframe from a dictionary 
df = pd.DataFrame(dict)
 
print(df)

      name  degree  score
0   satish   BTECH     95
1  shraban    CSIT     48
2    manoj  M.Tech     88
3  shambhu     MBA     98

In [15]:
# creating a list of dataframe columns
columns = list(df)
 
for i in columns:
 
    # printing the third element of the column
    print (df[i][0])

satish
BTECH
95